div.tooltip {	
    position: absolute;	
    text-align: center;			
    width: 100px;					
    height: 40px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: black;
    color: white;
    border: 0px;		
    border-radius: 2px;			
    pointer-events: none;			
}